@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&display=swap');


:root {
    --roxoforte: #8844ee;
    --roxofraco: #B07DFB;
    --brancoforte: #fafbfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}

body {
    display: grid;
    grid: 
        "header   header header"
        "sidenav  main   ads"
        "footer   footer footer";
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--roxoforte), var(--roxofraco));
    padding: 30px;
}

.logo-a {
    width: 200px;
}

.logo {
    display: block;
    width: 100%;
}

header ul {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 30px;
    list-style: none;
}

header ul a {
    display: block;
    font-size: 1.125em;
    color: white;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}

header ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.1s;
}

.sidenav {
    grid-area: sidenav;
    background-color: var(--brancoforte);
    padding: 30px;
}

.sidenav ul {
    list-style: none;
}

.sidenav a {
    display: block;
    min-width: 100px;
    max-width: 140px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.15);
    padding: 20px;
    margin: 0 auto 30px;
}

.sidenav a:hover {
    background-color: var(--roxofraco);
    transition-duration: 0.1s;
}

.sidenav img {
    display: block;
    width: 100%;
}

.ads {
    grid-area: ads;
    background-color: var(--brancoforte);
    padding: 30px;
}

.ads img {
    display: block;
    width: 100%;
    min-width: 140px;
    border-radius: 5px;
    margin-bottom: 30px;
}

main {
    grid-area: main;
    padding: 30px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

article p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: rgb(0, 0, 0, 0.7);
}

.titulo h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1em;
    color: var(--roxofraco);
}

.titulo span {
    font-size: 0.875em;
    font-style: italic;
    color: var(--roxofraco);
}

.peso-idade {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    justify-content: start;
    align-content: start;
    text-align: center;
}

.peso-idade div {
    width: 80px;
    background-image: linear-gradient(to right bottom, var(--roxoforte), var(--roxofraco));
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.15);
    border-radius: 5px;
}

.numero {
    font-size: 3em;
    line-height: 1em;
    color: var(--roxofraco);
    margin: 10px 10px 12px 10px;
}

.rotulo {
    font-size: 1em;
    line-height: 1em;
    color: var(--roxofraco);
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 8.2px;
}

.grid-column-span2 {
    grid-column: span 2;
}

article img {
    display: block;
    width: 100%;
    align-self: stretch;
    border-radius: 5px;
}

.lobo1 {
    grid-row: span 2;
}

.lobo3 {
    grid-column: span 2;
}

.destaque {
    font-size: 0.875em;
    color: var(--roxofraco);
    max-width: 16em;
}

blockquote {
    grid-column: span 2;
    background-image: linear-gradient(to right, var(--roxoforte), var(--roxofraco));
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.15);
    padding: 30px;
}

blockquote p {
    max-width: 500px;
    margin: auto;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: white;
}

section {
    grid-row: span 2;
    background-image: linear-gradient(to right bottom, var(--roxoforte), var(--roxofraco));
    border-radius: 5px;
    padding: 30px;
}

section p {
    font-family: Courier, monospace;
    font-size: 1.125em;
    line-height: 1em;
    color: white;
    padding: 15px;
}

section hr {
    border: 1px solid var(--roxofraco);
}

footer {
    grid-area: footer;
    background-image: linear-gradient(to right, var(--roxoforte), var(--roxofraco));
    padding: 30px;
}

footer p {
    font-size: 1.2em;
    color: white;
    text-align: center;
}